@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.highlight {
    position: relative;
    color: #000;
    text-decoration: none;
  }

.highlight::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 25%; /* covers the bottom 3/4 of the text */
    left: 0;
    bottom: 3px;
    background-color: #D86D77; /* change this to your preferred highlight color */
    transition: all 0.2s ease-in-out;
  }
  
  .highlight:hover::after {
    height: 90%;
  }