@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fbf7eb;
}

a {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 { 
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}


a:visited {
    color: #073b4c;
    opacity: 0.2;
    font-weight: normal;
}

a:hover {
    color: #118ab2;
    opacity: 0.6;
}