@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* -------------------------------- */
/* Supports custom highlight animation */
.highlight {
  position: relative;
  color: #000;
  text-decoration: none;
}

.highlight::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 3px;
  background-color: #fdff32;
  transition: all 0.2s ease-in-out;
}

.highlight:hover::after {
  height: 90%;
}

/* -------------------------------- */
/* WebGl Scene */
.three-scene {
  position: fixed !important;
  top: 0;
  left: 0;
}

canvas {
  display: block;
  z-index: -1;
  border: none;
  pointer-events: none;
}
